.wrapper {
  display: flex;
  flex-direction: column;
  color: white;

}

.wrapper:before {
  content: "";
    position: absolute;
    width : 100%;
    height: 100%;
    background: inherit;
    z-index: -1;

    filter        : blur(2px);
    -moz-filter   : blur(2px);
    -webkit-filter: blur(2px);
    -o-filter     : blur(2px);

    transition        : all 2s linear;
    -moz-transition   : all 2s linear;
    -webkit-transition: all 2s linear;
    -o-transition     : all 2s linear;
}

.container {
    width: 100vw;
    height: auto;
}

.container-description {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: auto;
  
    width: 650px;
    height: auto;
    padding: 10px;

    color: white
  }

.container-text {
    margin-top: 250px;
    font-weight: 600;
    font-size: 44px;
    line-height: 58px;
    text-align: center;
    margin-bottom: 40px;
    background-color: black;
  }

.play-now {
    position: relative;
    padding: 5px 16px;
    font-size: 30px;
    font-weight: 500;
    line-height: 50px;
    width: 250px;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    user-select: none;
    border: 1px solid;
    border-radius: 50px;
    appearance: none;
    margin-bottom: 200px;
    background-color: white;
    color: black;
}

.home-why {
  height: auto;
  width: 100%;
}

.why-solve-math {
  margin-bottom: 100px;
  text-align: center;
  height: 100px;

  vertical-align: middle;
  line-height: 100px;   
}

.why-solve-math h1 {
  margin: 0;
  background-color: black;
}

.container-item {
  width: 100%;
  height: 200px;
}

.inner-item {
  width: 50%;
  display: flex;
  flex-direction: column;
  background-color: black;
  /* background-color: aqua; */
}

.left {
  float: left;
  margin-left: 40px;
}

.right{
  float: right;
  text-align: right;
  margin-right:40px;
}

.inner-item img {
  height: 250px;
  width: 450px;
}

.container-item span {
  margin-bottom: 10px;
}