.header-wrapper {
    height: auto;
    width: 100vw;
    height: 5vh;
    /* background-color: #f1f1f1; */
    overflow: hidden;
    border-bottom: 1px solid rgb(192, 193, 195);
}

.header-content {
    height: 100%;
    display: flex;
    justify-content: space-between;
    margin-left: 20px;
    margin-right: 20px;
    align-items: center;
}

.authentification {
    display: flex;
    gap: 10px;
}

a {
    color: black;
    text-decoration: none;
}

.logo {
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/e/e6/Fast-furious-logo-fast-furious.png");
    display: inline-block;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    width: 72px;
    height: 30px;
}

.hidden {
    opacity: 0;
    pointer-events: none;
    z-index:-1;
    height: 0;
  }