.header-wrapper {
    height: auto;
    width: 100vw;
    background-color: #f1f1f1;
    overflow: hidden;
    padding-bottom: 10px;
}

.header-content {
    display: flex;
    justify-content: space-between;
    margin-left: 20px;
    margin-right: 20px;
}

.authentification {
    display: flex;
    gap: 10px
}