.wrapper {
    display: flex;
    flex-direction: column;
    color: white;
    height: 100vh;
    width: 100%;
  }

.item-wrapper{
    margin-left: 50px;
    margin-right: 50px;
    width: 80%;
    height: 40px;
    display: flex;
    flex-direction: row;
    gap: 100px;
    background-color: rgb(0, 0, 70);
    color: white;
    border-radius: 10px;
    margin-top: 20px;
}

.leaderboard {
    text-indent: 0;
    border-color: inherit;
    border-collapse: collapse;
    font-family: IBM Plex Mono,monospace;
    font-weight: 400;
}

.leaderboard tr {
    background-color: rgba(0, 0, 70, 0.605);
    border-bottom: 1px solid white;
    height: 40px;
}

td {
    margin-top: auto;
    margin-bottom: auto;
    margin-top: 10px;
}

.index{
    float: left;
    margin-left: 20px;
    font-weight: 500;
}

.score {
    float: right;
    margin-right:50px;
}

.min-w-full {
    min-width: 100%;
}

.heading {
    font-size: 20px;
    font-weight: 600;
}

.car-image {
    display: inline-block;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    width: 72px;
    height: 30px;
    margin-left: 10px;
    margin-top: 15px;
}