.container-card{
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    height: auto;
}

.container-wrapper {
    width: 100vw;
    height: 100vh;
    overflow: auto;
}
/* 
.container-wrapper:before {
      content: "";
      backdrop-filter: blur(10px);
      position: absolute;
      width : 100%;
      height: 100%;
      background: inherit;
      z-index: -1;
  
      filter        : blur(10px);
      -moz-filter   : blur(10px);
      -webkit-filter: blur(10px);
      -o-filter     : blur(10px);
  
     transition        : all 3s linear;
      -moz-transition   : all 3s linear;
      -webkit-transition: all 3s linear;
      -o-transition     : all 3s linear;
  } */


